.container{
	display: flex;
	flex-direction: column;
	align-content: center;
	height: auto;
	width: auto;
	background-color: #8cb3d9;
}

.bloco_1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid red;
	width: 200px;
	height: 150px;
	padding: 10px;/* distancia entre os itens e a borda */
	background-color: #3333ff;
}

.info{
	margin-top: 200px;
	text-align: center;
	background-color: #ad33ff;
}

.Escrito{
	margin-bottom: 10px;
}