.container{
	display: flex;
	flex-direction: column;
	justify-content: center; /* centraliza na vertical */
	align-items: center; /* Centraliza os itens dentro do container no centro dele na horizontal central */
	height: 500px;
	width: 100%;
	background-color: #8cb3d9;
}

.bloco_1{
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centraliza na vertical */
	align-items: center; /* Centraliza os itens dentro do bloco_1 na horizontal central */
	border: 2px solid red;
	border-radius: 20px;
	width: 200px;
	height: 150px;
	background-color: #3333ff;
}

.info{
	text-align: center;
	background-color: #ad33ff;
	width: 200px;
}

.Escrito{
	margin-bottom: 10px;
	text-align: center;
	width: 80px;
}