.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;/* NEcessario para centralizar as coisas */
	width: auto;
}

.botao{
	background-color: #121212;
	color: #FFFFFF;
	transition: 0.8s;
}

.botao:hover{
	background-color: #FFFFFF;
	color: #121212;
	cursor: pointer;
}