.container{ /* Serve para centralizar todas as opções dentro do container na pagina */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: auto;
}

.mensagem{
	margin: 10px;
}

.mostrador{
	margin: 10px;
}


.botoes{
	margin-top: 100px;
}

button{
	background-color: #121212;
	color: #FFFFFF;

	margin: 0 50px;
	width: 200px;
	height: 50px;
	transition: 0.8s;
}

button:hover{
	background-color: #FFFFFF;
	color: #121212;
	cursor: pointer;
}