.container{
	display: flex;
	justify-content: center;
}

button{
	background-color: #121212;
	color: #FFFFFF;
	margin: 200px;
	width: 100px;
	height: 50px;
	transition: 0.8s;
}

button:hover{
	background-color: #FFFFFF;
	color: #121212;
}