.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imagem{
	margin: 20px;
}

.botao{

	color: #FFFFFF;
	background-color: #121212;
	transition: 0.8s;
}

.botao:hover{
	color: #121212;
	background-color: #FFFFFF;
	cursor: pointer;
}